<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barqsoft.footballscores" >

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ScoresProvider"
            android:authorities="barqsoft.footballscores" />

        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <service android:name=".service.FetchService" />

        <receiver android:name=".WigdetProvider"
            android:label="Scores">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:resource="@xml/widgetinfo"
                       android:name="android.appwidget.provider"/>
            </receiver>

        <receiver android:name=".AlarmReciever" >
            <intent-filter>
                <action android:name="barqsoft.footballscores.update" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
